In [1]:
while True:
    try:
        x = int(input('점수를 입력하세요'))
        print(f'입력한 정수는 {x}입니다.')
        print(f'100을 입력한 수로 나누면 {100/x}입니다.')
        break
    except:
        print('예외 발생함')

점수를 입력하세요 ㅁ

예외 발생함

점수를 입력하세요 0

입력한 정수는 0입니다.
예외 발생함

점수를 입력하세요 10

입력한 정수는 10입니다.
100을 입력한 수로 나누면 10.0입니다.

In [3]:
while True:
    try:
        x = int(input('점수를 입력하세요'))
        print(f'입력한 정수는 {x}입니다.')
        print(f'100을 입력한 수로 나누면 {100/x}입니다.')
        break
    except (ValueError, ZeroDivisionError) as e:
        print('예외 발생함')
        print(type(e))
        print(e)

점수를 입력하세요 a

예외 발생함
<class 'ValueError'>
invalid literal for int() with base 10: 'a'

점수를 입력하세요 0

입력한 정수는 0입니다.
예외 발생함
<class 'ZeroDivisionError'>
division by zero

점수를 입력하세요 10

입력한 정수는 10입니다.
100을 입력한 수로 나누면 10.0입니다.

In [4]:
def insert(data):
    if len(data)==0:
        raise Exception('데이터의 길이는 0이 될 수 없습니다.')
    print(f'{data}를 입력합니다.')

In [7]:
#data = list(range(1,6))
data = []
try:
    insert(data)
except Exception as e:
    print(e)
else:
    print('정상 실행')

데이터의 길이는 0이 될 수 없습니다.

In [8]:
data = list(range(1,6))
#data = []
try:
    insert(data)
except Exception as e:
    print(e)
else:
    print('정상 실행')

[1, 2, 3, 4, 5]를 입력합니다.
정상 실행

In [10]:
while True:
    try:
        x = int(input('정수를 입력하세요: '))
        print('입력한 정수는 {}입니다.'.format(x))
        print('100을 입력한 수로 나누면 {}입니다.'.format(100/x))
        break
    except ValueError:
        print('유효한 정수가 아닙니다. 다시 시도하세요.')
    except ZeroDivisionError:
        print('0으로 나눌 수 없습니다.')

정수를 입력하세요:  ㅁ

유효한 정수가 아닙니다. 다시 시도하세요.

정수를 입력하세요:  0

입력한 정수는 0입니다.
0으로 나눌 수 없습니다.

정수를 입력하세요:  20

입력한 정수는 20입니다.
100을 입력한 수로 나누면 5.0입니다.

In [11]:
while True:
    try:
        x = int(input('정수를 입력하세요: '))
        print('입력한 정수는 {}입니다.'.format(x))
        print('100을 입력한 수로 나누면 {}입니다.'.format(100/x))
        break
    except Exception:    
        print('알 수 없는 오류입니다.')
    except ValueError:
        print('유효한 정수가 아닙니다. 다시 시도하세요.')
    except ZeroDivisionError:
        print('0으로 나눌 수 없습니다.')

정수를 입력하세요:  ㅁ

알 수 없는 오류입니다.

정수를 입력하세요:  0

입력한 정수는 0입니다.
알 수 없는 오류입니다.

정수를 입력하세요:  20

입력한 정수는 20입니다.
100을 입력한 수로 나누면 5.0입니다.

In [12]:
while True:
    try:
        x = int(input('정수를 입력하세요: '))
        print('입력한 정수는 {}입니다.'.format(x))
        print('100을 입력한 수로 나누면 {}입니다.'.format(100/x))
        break
    except ValueError:
        print('유효한 정수가 아닙니다. 다시 시도하세요.')
    except ZeroDivisionError:
        print('0으로 나눌 수 없습니다.')
    except Exception:    
        print('알 수 없는 오류입니다.')

정수를 입력하세요:  ㅁ

유효한 정수가 아닙니다. 다시 시도하세요.

정수를 입력하세요:  0

입력한 정수는 0입니다.
0으로 나눌 수 없습니다.

정수를 입력하세요:  20

입력한 정수는 20입니다.
100을 입력한 수로 나누면 5.0입니다.

In [16]:
def insert(data):
    if len(data)==0:
        raise Exception('데이터의 길이는 0이 될 수 없습니다.', '2에러')
    print(f'{data}를 입력합니다.')

In [20]:
#data = list(range(1,6))
data = []
try:
    insert(data)
except Exception as e:
    print(type(e))
    print(e)
    print(e.args[0])
    print(e.args[1])
else:
    print('정상 실행')

<class 'Exception'>
('데이터의 길이는 0이 될 수 없습니다.', '2에러')
데이터의 길이는 0이 될 수 없습니다.
2에러

In [22]:
class Shape:
    def __init__(self):
        raise NotImplementedError

In [23]:
myShape = Shape()

NotImplementedError:

In [24]:
class Circle(Shape):
    def __init__(self):
        pass

In [25]:
my_circle = Circle()
print(my_circle)

<__main__.Circle object at 0x000001EF30D60790>

In [27]:
print(isinstance(my_circle, Shape))

True

In [28]:
class Shape:
    def __init__(self):
        raise NotImplementedError

    def calc_area(self):
        raise NotImplementedError

In [29]:
class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

In [30]:
my_circle = Circle(4.5)
my_circle.calc_area()

NotImplementedError:

In [31]:
class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def calc_area(self):
        return self.radius * self.radius * 3.14

In [32]:
my_circle = Circle(4.5)
my_circle.calc_area()

63.585

In [33]:
class Error(Exception):
    """이 모듈에서 사용하는 기본 예외입니다."""
    pass

In [34]:
class InputError(Error):
    """입력오류를 정의하는 예외입니다.

    속성:
        expression -- 예외가 발생하는 입력 표현식
        message -- 오류 설명
    """

    def __init__(self, expression, message):
        self.expression = expression
        self.message = message

In [35]:
class ZeroLengthError(Exception):
    """길이가 0일 때 발생하는 예외."""
    def __init__(self):
        Exception.__init__(self, '사용자 정의 예외 : 길이가 0입니다.')

In [36]:
def insert(data):
    if len(data)==0:
        raise ZeroLengthError()
    print(data, '을(를) 입력합니다.', sep='')

In [37]:
# data = [1,2,3]
data = []
try:
    insert(data)
except ZeroLengthError as e:
    print(e.args[0])
else:
    print('정상 실행되었습니다.')

사용자 정의 예외 : 길이가 0입니다.

In [38]:
try:
    f = open('myfile.txt', 'r')
    #1 파일이 열린 후 실행되어야 하는 코드
except FileNotFoundError as e:
    print(str(e))
else:
    #2 파일을 읽기 전에 실행해야 하는 코드
    data = f.read()

[Errno 2] No such file or directory: 'myfile.txt'

In [39]:
try:
    f = open('myfile.txt', 'r')
    #1 파일이 열린 후 실행되어야 하는 코드
except FileNotFoundError as e:
    print(str(e))
else:
    #2 파일을 읽기 전에 실행해야 하는 코드
    data = f.read()
    print(data)
finally:
    f.close()

[Errno 2] No such file or directory: 'myfile.txt'

NameError: name 'f' is not defined

연습문제

In [43]:
while True:
    try:
        num1 = float(input('첫 번째 숫자를 입력하세요:'))
        num2 = float(input('두 번째 숫자를 입력하세요:'))
        print(f'입력한 수는 {num1}와 {num2}입니다.')
        num = num1 / num2
        print(f'{num1}을 {num2}로 나누면 {num}입니다')
        break
    except:
        print('유효한 정수가 아닙니다. 다시 시도하세요.')

첫 번째 숫자를 입력하세요: hello

유효한 정수가 아닙니다. 다시 시도하세요.

첫 번째 숫자를 입력하세요: 10
두 번째 숫자를 입력하세요: 0

입력한 수는 10.0와 0.0입니다.
유효한 정수가 아닙니다. 다시 시도하세요.

첫 번째 숫자를 입력하세요: 3.5
두 번째 숫자를 입력하세요: hello

유효한 정수가 아닙니다. 다시 시도하세요.

첫 번째 숫자를 입력하세요: 3.5
두 번째 숫자를 입력하세요: 2

입력한 수는 3.5와 2.0입니다.
3.5을 2.0로 나누면 1.75입니다

In [44]:
while True:
    try:
        num1 = float(input('첫 번째 숫자를 입력하세요:'))
        num2 = float(input('두 번째 숫자를 입력하세요:'))
        print(f'입력한 수는 {num1}와 {num2}입니다.')
        num = num1 / num2
        print(f'{num1}을 {num2}로 나누면 {num}입니다')
        break
    except ValueError:
        print('유효한 숫자가 아닙니다. 다시 시도하세요.')
    except ZeroDivisionError:
        print('0으로 나눌 수 없습니다. 다시 시도하세요.')

첫 번째 숫자를 입력하세요: abc

유효한 숫자가 아닙니다. 다시 시도하세요.

첫 번째 숫자를 입력하세요: 10
두 번째 숫자를 입력하세요: 0

입력한 수는 10.0와 0.0입니다.
0으로 나눌 수 없습니다. 다시 시도하세요.

첫 번째 숫자를 입력하세요: 5
두 번째 숫자를 입력하세요: 3

입력한 수는 5.0와 3.0입니다.
5.0을 3.0로 나누면 1.6666666666666667입니다

In [45]:
f = open('sample.txt', 'w')
print(f.writable())
f.write('HelloWorld\n')

True

11

In [46]:
f.close()

In [47]:
f = open('sample.txt', 'a')
print('이 문자열도 파일에 저장할 수 있습니다.', file=f)
f.close()

In [48]:
with open('sample.txt','r') as f:
    for line in f.readlines():
        print(line.strip())

HelloWorld
이 문자열도 파일에 저장할 수 있습니다.

In [49]:
%%writefile 'member.txt'
홍길동,20,kildong@hong.com,서울시 강동구
홍길서,25,kilseo@hong.com,서울시 강서구

Writing member.txt

In [53]:
with open('member.txt', 'r', encoding='UTF-8-SIG') as f: #SIG는 출력문 앞에 영문모를 문자가 남아 있을 경우 없애줌
    lines = f.readlines()
    for line in lines:
        print(line.strip())

홍길동,20,kildong@hong.com,서울시 강동구
홍길서,25,kilseo@hong.com,서울시 강서구

In [54]:
with open('member.txt', 'r', encoding='UTF-8-SIG') as f: #SIG는 출력문 앞에 영문모를 문자가 남아 있을 경우 없애줌
    lines = f.readlines()
    for line in lines:
        #print(line.strip())
        data = line.strip().split(',')
        name = data[0]
        age = int(data[1])
        email = data[2]
        address = data[3]
        print(f'이름: {name}, 나이: {age}, 이메일: {email}, 주소: {address}')

이름: 홍길동, 나이: 20, 이메일: kildong@hong.com, 주소: 서울시 강동구
이름: 홍길서, 나이: 25, 이메일: kilseo@hong.com, 주소: 서울시 강서구

In [65]:
class Member:
    def __init__(self, name, age, email, address):
        self.name = name
        self.age = age
        self.email = email
        self.address = address

    def __str__(self):
        return f'Name: {self.name}, Age: {self.age}, Email: {self.email}, Address: {self.address}'

In [66]:
user1 = Member('홍길동', 20, 'kildong@hong.com', '서울시 강동구')
user2 = Member('홍길서', 25, 'kilseo@hong.com', '서울시 강서구')
user_list = [user1, user2]

In [67]:
with open('member.data', 'wb') as f:
    import pickle
    pickle.dump(user_list, file=f)

In [68]:
del user_list

In [69]:
with open('member.data', 'rb') as f:
    import pickle
    user_list = pickle.load(f)

In [70]:
print(user_list)

[<__main__.Member object at 0x000001EF332DE810>, <__main__.Member object at 0x000001EF333F5890>]

In [71]:
print(user_list[0])

Name: 홍길동, Age: 20, Email: kildong@hong.com, Address: 서울시 강동구

In [72]:
print(user_list[1])

Name: 홍길서, Age: 25, Email: kilseo@hong.com, Address: 서울시 강서구

In [73]:
print(type(user_list))

<class 'list'>

In [74]:
for user in user_list:
    print(user)

Name: 홍길동, Age: 20, Email: kildong@hong.com, Address: 서울시 강동구
Name: 홍길서, Age: 25, Email: kilseo@hong.com, Address: 서울시 강서구

In [77]:
%%writefile 'member1.csv'
"홍길동",20,"kildong@hong.com","서울시 강동구"
"홍길서",25,"kilseo@hong.com","서울시 강서구"

Overwriting member1.csv

In [78]:
import csv

In [79]:
with open('member1.csv', 'r', encoding='UTF-8-SIG') as f:
    r = csv.reader(f, quotechar='"', quoting=csv.QUOTE_NONNUMERIC)
    for row in r:
        print(row)

['홍길동', 20.0, 'kildong@hong.com', '서울시 강동구']
['홍길서', 25.0, 'kilseo@hong.com', '서울시 강서구']

In [80]:
user_list = [['홍길동', 20.0, 'kildong@hong.com', '서울시 강동구'],
            ['홍길서', 25.0, 'kilseo@hong.com', '서울시 강서구']]

In [81]:
with open('member2.csv', 'w', newline='', encoding='UTF-8-SIG') as f:
    w = csv.writer(f)
    w.writerows(user_list)

In [82]:
with open('member2.csv', 'w', newline='', encoding='UTF-8-SIG') as f:
    w = csv.writer(f, quoting=csv.QUOTE_NONNUMERIC)
    w.writerows(user_list)

In [83]:
%%writefile 'member3.csv'
Name,Age,Email,Address
홍길동,20,kildong@hong.com,서울시 강동구
홍길서,25,kilseo@hong.com,서울시 강서구

Writing member3.csv

In [91]:
# 첫번째 행을 키값으로 인식
with open('member3.csv', 'r', encoding='UTF-8-SIG') as f:
    dict_reader = csv.DictReader(f)
    for row in dict_reader:
        print(type(row), row)

<class 'dict'> {'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Address': '서울시 강동구'}
<class 'dict'> {'Name': '홍길서', 'Age': '25', 'Email': 'kilseo@hong.com', 'Address': '서울시 강서구'}

In [92]:
# key값이 없는 경우 첫번째 행을 키값으로 인식한다. 이때 fieldname을 지정해서 불러올 수 있다
with open('member1.csv', 'r', encoding='UTF-8-SIG') as f:
    dict_reader = csv.DictReader(f, fieldnames=['Name', 'Age', 'Email', 'Address'])
    print(type(dict_reader))
    for row in dict_reader:
        print(type(row), row)

<class 'csv.DictReader'>
<class 'dict'> {'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Address': '서울시 강동구'}
<class 'dict'> {'Name': '홍길서', 'Age': '25', 'Email': 'kilseo@hong.com', 'Address': '서울시 강서구'}

In [93]:
# field 이름이 부족한 경우, None field에 list 형태로 저장된다.
with open('member1.csv', 'r', encoding='UTF-8-SIG') as f:
    dict_reader = csv.DictReader(f, fieldnames=['Name', 'Age', 'Email'])
    print(type(dict_reader))
    for row in dict_reader:
        print(type(row), row)

<class 'csv.DictReader'>
<class 'dict'> {'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', None: ['서울시 강동구']}
<class 'dict'> {'Name': '홍길서', 'Age': '25', 'Email': 'kilseo@hong.com', None: ['서울시 강서구']}

In [96]:
# field 이름이 부족한 경우, None field의 속성을 restkey로 Default key name을 지정할 수 있다.
with open('member1.csv', 'r', encoding='UTF-8-SIG') as f:
    dict_reader = csv.DictReader(f, fieldnames=['Name', 'Age', 'Email'], restkey="Etc")
    print(type(dict_reader))
    for row in dict_reader:
        print(type(row), row)

<class 'csv.DictReader'>
<class 'dict'> {'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Etc': ['서울시 강동구']}
<class 'dict'> {'Name': '홍길서', 'Age': '25', 'Email': 'kilseo@hong.com', 'Etc': ['서울시 강서구']}

In [97]:
# key값이 남는 경우, restval으로 기본값을 지정해 채울 수 있다.
with open('member1.csv', 'r', encoding='UTF-8-SIG') as f:
    dict_reader = csv.DictReader(f, fieldnames=['Name', 'Age', 'Email', 'Addr', 'Etc'], restval='없음')
    print(type(dict_reader))
    for row in dict_reader:
        print(row)

<class 'csv.DictReader'>
{'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Addr': '서울시 강동구', 'Etc': '없음'}
{'Name': '홍길서', 'Age': '25', 'Email': 'kilseo@hong.com', 'Addr': '서울시 강서구', 'Etc': '없음'}

In [98]:
user1 = {'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Address': '서울시 강동구'}
user2 = {'Name': '홍길서', 'Age': '25', 'Email': 'kilseo@hong.com', 'Address': '서울시 강서구'}
print(user1, user2)

{'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Address': '서울시 강동구'} {'Name': '홍길서', 'Age': '25', 'Email': 'kilseo@hong.com', 'Address': '서울시 강서구'}

In [101]:
with open('member4.csv', 'w', newline='', encoding='UTF-8-SIG') as f:
    dict_writer = csv.DictWriter(f, fieldnames=['Name', 'Age', 'Email', 'Address']);
    dict_writer.writeheader()
    dict_writer.writerow(user1)
    dict_writer.writerow(user2)

In [102]:
data = ['foo', {'bar': ('baz', None, 1.0, 2)}]

In [103]:
import json

In [106]:
with open('sample.json', 'w') as f:
    json.dump(data, f)

In [108]:
# 가독성 좋게 들여쓰기
with open('sample.json', 'w') as f:
    json.dump(data, f, indent=True)

In [109]:
class Member:
    def __init__(self, name, age, email, address):
        self.name = name
        self.age = age
        self.email = email
        self.address = address

    def __str__(self):
        return f'Name: {self.name}, Age: {self.age}, Email: {self.email}, Address: {self.address}'

    def as_dict(self):
        return {'name':self.name, 'age':self.age, 'email':self.email, 'address':self.address}

In [110]:
user1 = Member('홍길동', 20, 'kildong@hong.com', '서울시 강동구')
user2 = Member('홍길서', 25, 'kilseo@hong.com', '서울시 강서구')
user_list = [user1, user2]

In [111]:
with open('member.json', 'w', encoding='UTF-8-SIG') as f:
    json.dump(user_list, f, ensure_ascii=False, indent='\t', default=Member.as_dict)

In [112]:
with open('member.json', 'r', encoding='UTF-8-SIG') as f:
    user_list = json.load(f)

In [113]:
type(user_list)

list

In [114]:
print(user_list)

[{'name': '홍길동', 'age': 20, 'email': 'kildong@hong.com', 'address': '서울시 강동구'}, {'name': '홍길서', 'age': 25, 'email': 'kilseo@hong.com', 'address': '서울시 강서구'}]

In [115]:
def as_member(dct):
    return Member(dct['name'], dct['age'], dct['email'], dct['address'])

In [116]:
with open('member.json', 'r', encoding='UTF-8-SIG') as f:
    user_list = json.load(f, object_hook=as_member)

In [117]:
print(user_list)

[<__main__.Member object at 0x000001EF342DF0D0>, <__main__.Member object at 0x000001EF342DF3D0>]

In [118]:
for user in user_list:
    print(user)

Name: 홍길동, Age: 20, Email: kildong@hong.com, Address: 서울시 강동구
Name: 홍길서, Age: 25, Email: kilseo@hong.com, Address: 서울시 강서구

In [119]:
import pandas as pd

In [121]:
import seaborn as sns
iris = sns.load_dataset('iris')

In [122]:
type(iris)

pandas.core.frame.DataFrame

In [123]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [124]:
iris.to_csv('iris.csv', index=False)

In [125]:
iris.to_hdf('iris.h5', key='iris')

In [126]:
iris1 = pd.read_csv('iris.csv')

In [127]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [128]:
class MemberDecoder(json.JSONDecoder):
    def __init__(self, *args, **kwargs):
        json.JSONDecoder.__init__(self, object_hook=self.object_hook, *args, **kwargs)

    def object_hook(self, obj):
        if('name' in obj):
            return Member(obj['name'], obj['age'], obj['email'], obj['address'])
        return json.JSONDecoder.object_hook(self, obj)

In [129]:
with open('member.json', encoding='UTF-8-SIG') as jsonfile:
    user_list = json.load(jsonfile, cls=MemberDecoder)
    for user in user_list:
        print(user)

Name: 홍길동, Age: 20, Email: kildong@hong.com, Address: 서울시 강동구
Name: 홍길서, Age: 25, Email: kilseo@hong.com, Address: 서울시 강서구