In [15]:
def func6(a, *b, **c):
    print(a)
    print(b)
    print(c)

In [16]:
func6(10, 1,2,3, name="Kildong", age=20)

10
(1, 2, 3)
{'name': 'Kildong', 'age': 20}

In [36]:
def add(*args):
    print(args)
    print("OK")
    sum = 0
    for num in args:
        sum += num
    print(sum)

In [37]:
numbers = tuple(range(1,11))
numbers

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [38]:
add(numbers)

((1, 2, 3, 4, 5, 6, 7, 8, 9, 10),)
OK

TypeError: unsupported operand type(s) for +=: 'int' and 'tuple'

In [39]:
def mul(*args):
    print(args)
    print("OK")
    mul = 0
    for num in args:
        mul *= num
    print(mul)

In [40]:
mul(numbers)

((1, 2, 3, 4, 5, 6, 7, 8, 9, 10),)
OK
()

In [41]:
def func5(**data):
    for key, value in data.items():
        print(key, value)

In [43]:
custInfo = {"name": "Kildong", "age":30, "address": "서울시 강남구"}

In [44]:
func5(name="Kildong", age=30, address="서울시 강남구")

name Kildong
age 30
address 서울시 강남구

In [45]:
func5(**custInfo)

name Kildong
age 30
address 서울시 강남구

In [46]:
def func(a, b, c, *d, e=10, **f):
    print(a,b,c,d,e,f)

In [47]:
func(10, 20, 30, 4, 5, e=20, name="JinKyoung", age=30)

10 20 30 (4, 5) 20 {'name': 'JinKyoung', 'age': 30}

In [48]:
def template(func, *args, **kwargs) :
    print("--------------------------")
    print(func(*args, **kwargs))
    print("==========================")

In [49]:
def other_func(a, b, *c, d=0, **e) :
    print(a,b,c,d,e)
    result = a+b
    for item in c:
        result += item
    return result

In [50]:
template(other_func, 2,3,4,5,6,d=10,f=20,g=30)

--------------------------
2 3 (4, 5, 6) 10 {'f': 20, 'g': 30}
20
==========================

In [51]:
L = [1,2,3,4,5,6,7,8,9,10]
map(lambda x: x**2, L)

In [52]:
def map_template(func, L) :
    result = []
    for item in L:
        result.append(func(item))
    return result

In [53]:
map_template(lambda x: x**2, L)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [56]:
def power(a:int, b:int=2):
    return a**b

In [58]:
power(4)

16

In [59]:
class MyClass():
    def __init__(self, data) -> None:
        self.data = data

In [60]:
a = MyClass("Hello")

연습문제

In [65]:
def get_max_min(data_list):
    return max(data_list), min(data_list)

In [66]:
get_max_min([1,2,3,4,5])

(5, 1)

In [67]:
def get_bmi(weight, height):
    bmi = weight / (height**2)

    if bmi<18.5:
        return "마른 체형"
    elif 18.5<=bmi and bmi<25.0:
        return "표준"
    elif 25.0<=bmi and bmi<30.0:
        return "비만"
    elif 30.0<=bmi:
        return "고도 비만"

In [69]:
get_bmi(93.3, 1.86)

'비만'

In [70]:
from math import sqrt

def get_triangle(width, height):
    area = (width * height) / 2
    round = width + height + sqrt(width**2 + height**2)
    return area, round

In [71]:
get_triangle(3,4)

(6.0, 12.0)

In [73]:
def mysum(mfrom, end):
    sum = 0
    for i in range(mfrom, end+1):
        sum += i
    return sum

In [74]:
mysum(1,10)

55

In [82]:
def get_abbrs(list):
    L = []
    for i in list:
        L.append(i[:3:])
    return L

In [76]:
list = ['Seoul', 'Daegu', 'Kwangju', 'Jeju']

In [83]:
get_abbrs(list)

['Seo', 'Dae', 'Kwa', 'Jej']